<div class="row p-4">
  <div class="col-md-12">
    <form role="form">
      <div class="form-group">
        <label class="control-label" >Nombre:</label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" >Correo electrónico:</label>
        <input class="form-control" placeholder="Correo electrónico" type="text">
      </div>
      <div class="form-group">
        <label class="control-label" >Contraseña</label>
        <input class="form-control" placeholder="Contraseña" type="password">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <button class="btn btn-primary pull-right" type="submit">Enviar</button>
    </form>
  </div>
</div>
